.container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.container input{
    width: 50%;
    height: 2.5rem;
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
    padding: 0 1rem;
    font-size: 1rem;
}