.list{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

}
.list li a{
    height: 22.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}
.image{
    object-fit: cover;
    height: 14.5rem;

}

.content {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}
.favorite{
    position
}
